localpv-provisioner:
  localpv:
    basePath: /home/apps/openebs/local
  hostpathClass:
    isDefaultClass: true
engines:
  local:
    lvm:
      enabled: false
    zfs:
      enabled: false
  replicated:
    mayastor:
      enabled: false
loki:
  enabled: false
alloy:
  enabled: false
